<header>
  <div class="sticky-top menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="navigation" class="hidden mb-5">
    <nav class="nav col-10 mx-lg-5 mx-sm-4 mx-xs-2">
      <div class="col-3 mt-3 font-size-xs d-flex justify-content-center"><a href="../../index.php/home">Home</a></div>
      <div class="col-3 mt-3 font-size-xs d-flex justify-content-center"><a href="../../index.php/contact">Contact</a></div>
      <div class="col-3 mt-3 font-size-xs d-flex justify-content-center"><a href="../../index.php/list">Shop</a></div>
      <div class="col-3 mt-3 font-size-xs d-flex justify-content-center"><a href="../../index.php/profile">Profile</a></div>
    </nav>
  </div>
</header>
<script src="js/menu.js"></script>