.form-group {
    position: relative;
}
.form-group input:focus ~ .icon {
    opacity: 1;
}
.form-group input:required:valid {
    border-color: #26dfae;
}
.form-group .asterix {
    color: #df2666;
}
.form-group :is(input:valid) ~ .asterix {
    opacity: 0;
}

@keyframes shake {
    0%,100%{translate: 0;}
    25%{translate: 8px 0;}
    75%{translate: -8px 0;}
}

.form-group input:valid,.form-group input:valid ~ :is(.asterix, .icon){
    animation: none;
}

.form-group:is(input:invalid){
    animation: shake 0.1635s 0s 3s;
}

.form-group input:placeholder-shown, input:invalid {
    border: 1px solid red;
}

