select.form-control {
    color: #000000 !important;
}

.table td {
    white-space: pre-wrap !important;
}

.list-group-item{
    background-color: inherit !important;
    padding: 20px !important;
    border: 0 !important;
}

.list-group{
    border-radius: 20px !important;
}

.card-footer{
    border: 0 !important;
    background-color: inherit !important;
}

input:not([type='file']), textarea, select {
    border-radius: 10px !important;
}

.card-body {
    padding: 2.5rem 4rem !important;
}

.dataTables_wrapper .dataTable .btn{
    padding: 0.5rem 1rem !important;
}