<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../../index.php/admin/dashboard">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../index.php/admin/logout">
        <i class="menu-icon mdi mdi-logout-variant"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
    <li class="nav-item nav-category">Categorias y Productos</li>
    <li class="nav-item">
      <a class="nav-link" href="../../index.php/admin/categorias" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Categorias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../index.php/admin/productos" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-cube-outline "></i>
        <span class="menu-title">Articulo</span>
      </a>
    </li>
    <li class="nav-item nav-category">Usuarios</li>
    <li class="nav-item">
      <a class="nav-link"  href="../../index.php/admin/users" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-account"></i>
        <span class="menu-title">Usuarios</span>
      </a>
    </li>
    <li class="nav-item nav-category">Compras y comentarios</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="../../index.php/admin/compras" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-cart "></i>
        <span class="menu-title">Compras</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="../../index.php/admin/comentarios" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-message-text-outline"></i>
        <span class="menu-title">Comentarios</span>
      </a>
    </li>
  </ul>
</nav>